﻿body
{
margin: 0;
padding: 0;
font-family: 'Open Sans';
}

#header{
	width: 100%;
	height:200px;
	background: #606060;
}

#header #centro1{
	width: 800px;
	height: auto; overflow: hidden;
	margin: auto;
}

#header #centro1 #logo{
	width: 200px;
	float: left;
}

#header #centro1 h1{
	color: #fff;
	width: 580px;
	height: auto;
	margin-top: 100px;
	text-align: center;
}

#header #centro1 form{
	
	text-align: center;
}

#header #menu{
	width: 580px;
	height: auto;
	float: right;
	margin-top: 40px;
	text-align: right;
}

#header #menu ul li{
	display: inline-block;
}

#header #menu ul li a{
	color: #fff;
	text-decoration: none;
	padding: 7px 10px;
	margin: 0px 4px;
}

#header #menu ul li a:hover{
	background: #0a2a29;
}

#main{
	color: #606060;
	text-align: center;
}

#imagenes{
	margin: 30px 150px;
	display: flex;
	justify-content: space-around;
}

#nombres{
	color: #606060;
	margin: -50px 110px;
	display: flex;
	justify-content: space-around;
}

#recientes{
	color: #606060;
	text-align: center;
	margin: 50px;
}

hr{
	align: center;
	width: 65%;
	margin: 80px 240px;
}

#imgRecientes{
	margin: 30px 300px;
	display: flex;
	justify-content: space-around;
}

#nomRecientes{
	color: #606060;
	margin: -50px 310px;
	display: flex;
	justify-content: space-around;
}

#footer{
	width: 100%;
	height:120px;
	background: #606060;
}

#footer #centro2{
	width: 800px;
	height: auto; overflow: hidden;
	margin: auto;
}

#footer #centro2 h3{
	color: #fff;
	width: 800px;
	height: auto;
	margin-top: 10px;
	text-align: center;
}

#footer #menuPie{
	width: 780px;
	height: auto;
	float: center;
	margin-top: 40px;
	text-align: center;
}

#footer #menuPie ul li{
	display: inline-block;
}

#footer #menuPie ul li a{
	color: #fff;
	text-decoration: none;
	padding: 7px 10px;
	margin: 0px 4px;
}

#footer #menuPie ul li a:hover{
	background: #0a2a29;
}


/*--------------------------------------LOGIN-------------------------------------------*/

.form{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	color: #606060;
	text-align: center;
}

.form input.form-control{
	margin: 10px 0px;
}




/*--------------------------------------REGISTRO-------------------------------------------*/





.formu{
	width: 100%;
	max-width: 550px;
	padding: 15px;
	margin: auto;
	color: #606060;
	text-align: center;
}

.formu input.formu-control{
	margin: 15px 0px;
}





/*--------------------------------------DASHBOARD-------------------------------------------*/





#botonDash{
	width:150px;
	height:40px;
	color: #606060;
	margin: 0px 250px;
	border-radius:10px;
}

#lineaDash{
	align: center;
	width:65%;
	margin: 5px 240px;
}

#lineaDash2{
	align: center;
	width:65%;
	margin: 5px 240px;
}

#botonDash:hover{
	background: #0a2a29;
}

#imagenesDash{
	margin: 30px 200px;
	display: flex;
	justify-content: space-around;
}

#imagenesDash #edit{
	margin: 1px;
	float: right;
	color: #fff;
	background-color: #606060;
	padding:6px;
	border-radius:10px;
}

#imagenesDash #delete{
	float: right;
	color: #fff;
	background-color: #606060;
	padding:6px;
	border-radius:10px;
}





/*--------------------------------------DETALLE-------------------------------------------*/




#imgDetalle{
	margin: 30px;
}

#centroDetalle{
	width: 800px;
	height: 500px; overflow: hidden;
	margin: auto;
	background-color: #E6E6E6;
}

#lineaDetalle{
	margin: 5px;
	width: 100%;
}

#lineaDetalle2{
	margin: 5px;
	width: 100%;
}

#detalles{
	float: right;
	margin: -300px 110px;
	color: #606060;
}

#botonAgregar{
	width:150px;
	height:40px;
	color: #606060;
	background-color: #A9E2F3;
	border-radius:10px;
}

#botonAgregar:hover{
	background: #0a2a29;
}




/*--------------------------------------CAMBALACHES-------------------------------------------*/




#cambalaches{
	width: 800px;
	height: 150px; overflow: hidden;
	margin: auto;
	background-color: #E6E6E6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #606060;
}

#cambalaches2{
	width: 800px;
	height: 150px; overflow: hidden;
	margin: auto;
	background-color: #E6E6E6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #606060;
}

#cambalaches3{
	width: 800px;
	height: 150px; overflow: hidden;
	margin: auto;
	background-color: #E6E6E6;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #606060;
}




/*--------------------------------------CREAR/EDITAR-------------------------------------------*/



#lineaCrear{
	align: center;
	width:40%;
	margin: 5px 400px;
}

#centroCrear{
	width: 800px;
	height: auto; overflow: hidden;
	margin: auto;
	background-color: #E6E6E6;
	color: #606060;
}

#tituloCrear{
	margin: 10px 100px;
}

.formul{
	width: 100%;
	max-width: 400px;
	padding: 15px;
	margin: auto;
	color: #606060;
	text-align: center;
}

.formul input.formul-control{
	margin: 15px 0px;
	height: 35px;
	width:400px;
}